<html>

<head>
    <style>
        .bg {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/p4.jpg);
            background-position: center;
            background-size: cover;
            position: absolute;
        }

        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            border-radius: 8px;
            float: left;
            width: 180px;
            height: 220px;
            margin-left: 30px;
        }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: 75%;
        }

        div.desc {
            padding: 15px;
            text-align: center;
            color: white;       
            font-size: 14px;   
            text-align: center;
        }
    </style>

    <meta charset="UTF-8">
    <title>Airport Management - Admin Login</title>
    <link rel="stylesheet" href="/css/admin.css"> 
</head>


<body>
    <div class="bg">
        <div class="navigationBar">
            <div>
                <a id="top" href='https://www.youtube.com/watch?v=gYi5P16l6eo'>DHAKA AIRPORT</a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href='/'>Home</a></li>
                    <li><a href='/about'>About Us</a></li>
                    <li><a href='/services'>Services</a></li>
                    <li><a href='/contacts'>Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="gallery">
            <a target="_blank" href="/images/3.jpg">
                <img src="/images/3.jpg" alt="Cinque Terre" width="610" height="400">
            </a>
            <div class="desc">Cinque Terre, Italy</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/4.jpg">
                <img src="/images/4.jpg" alt="Forest" width="610" height="400">
            </a>
            <div class="desc">Amazon Rainforest, Brazil</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/5.jpg">
                <img src="/images/5.jpg" alt="Northern Lights" width="610" height="400">
            </a>
            <div class="desc">Aurora Borealis, Norway</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/6.jpg">
                <img src="/images/6.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">Swiss Alps, Switzerland</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/6.jpg">
                <img src="/images/6.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">Great Barrier Reef, Australia</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/6.jpg">
                <img src="/images/6.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">Machu Picchu, Peru</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/1.jpg">
                <img src="/images/1.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">Santorini, Greece</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/2.jpg">
                <img src="/images/3.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">Petra, Jordan</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/6.jpg">
                <img src="/images/6.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">Bora Bora, French Polynesia</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/3.jpg">
                <img src="/images/3.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">Victoria Falls, Zambia/Zimbabwe</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/6.jpg">
                <img src="/images/6.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">Serengeti National Park, Tanzania</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/4.jpg">
                <img src="/images/4.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">The Great Wall of China, China</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/5.jpg">
                <img src="/images/5.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">Grand Canyon, United States</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/6.jpg">
                <img src="/images/6.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">Machu Picchu, Peru</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/2.jpg">
                <img src="/images/3.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">Angkor Wat, Cambodia</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/6.jpg">
                <img src="/images/6.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">The Pyramids of Giza, Egypt</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/6.jpg">
                <img src="/images/6.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">Venice, Italy</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/6.jpg">
                <img src="/images/6.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">Sydney Opera House, Australia</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/6.jpg">
                <img src="/images/6.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">The Colosseum, Italy</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/6.jpg">
                <img src="/images/6.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">Easter Island, Chile</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/images/6.jpg">
                <img src="/images/6.jpg" alt="Mountains" width="610" height="400">
            </a>
            <div class="desc">The Galápagos Islands, Ecuador</div>
        </div>
    </div>
</body>

</html>