<html>
<head>
    <style>
        .bg {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/p5.jpg);
            background-position: center;
            background-size: cover;
            position: absolute;
        }

        div.gallery {
            margin: 175px 0 0 100px;
            border: 1px solid rgba(204, 204, 204, 0);
            float: left;
            width: 240px;
        }

        div.gallery:hover {
            border: 5px
        }

        div.gallery img {
            width: 220px;
            height: 200px;
        }

        div.desc {
            padding: 15px;
            text-align: center;
            color: white;       
            font-size: 40px;  
            text-align: center;
        }
        .navigationBar {
            background-color: #000000;
            opacity: 0.5;
            display: flex;
            align-items: center;
            padding: 10px;
            padding-left: 50px;
            padding-right: 10px;
            padding-top: 15px;
            padding-bottom: 15px;

        }

        nav {
            flex: 1;
            text-align: right;
            margin-top: 0px;
        }

        nav ul {
            display: inline-block;
            list-style: none;
        }

        nav ul li {
            display: inline-block;
            margin-right: 70px;
            margin-left: 20px;
        }

        nav ul li a {
            font-size: 25px;
            color: rgb(243, 242, 242);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }

        nav ul li button {
            font-size: 20px;
            color: rgb(255, 250, 250);
            outline: none;
            border: none;
            background: transparent;
            cursor: pointer;
            font-family: sans-serif;
        }

        nav ul li button:hover {
            color: aqua;
        }

        nav ul li a:hover {
            color: aqua;
        }
        #top {
            text-decoration: none;
            color: rgb(150, 164, 210);
            font-size: 28px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
        }
        #top:hover {
            color: rgb(8, 58, 224); 
        }


    </style>

    <meta charset="UTF-8">
    <title>Airport Management - Admin Login</title>
</head>


<body>
    <div class="bg">
        <div class="navigationBar">
            <div>
                <a id="top" href='https://www.youtube.com/watch?v=gYi5P16l6eo'>DHAKA AIRPORT</a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href='/'>Home</a></li>
                    <li><a href='/about'>About Us</a></li>
                    <li><a href='/services'>Services</a></li>
                    <li><a href='/contacts'>Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="gallery" onclick="window.location.href='/money';">
            <img src="/images/cash.png" alt="Cash" width="600" height="380">
            <div class="desc">Money</div>
        </div>
        
        <div class="gallery" onclick="window.location.href='/search';">
            <img src="/images/search.png" alt="Search" width="600" height="380">
            <div class="desc">Search a Plane</div>
        </div>
        
        <div class="gallery" onclick="window.location.href='/employee';">
            <img src="/images/employee.png" alt="Employee" width="600" height="380">
            <div class="desc">Employees</div>
        </div>
        
        <div class="gallery" onclick="window.location.href='/airport';">
            <img src="/images/airport.png" alt="Airport" width="600" height="380">
            <div class="desc">Other Airports</div>
        </div>        
    </div>
</body>

</html>